@charset "utf-8";
/* CSS Document */
#nav td:hover{border:1px solid #194bb4;}
#grandbackground{
	background-color:#666;
	height: 900px;
	width: 100%;
}
#global{
	width:1024px;
	height:900px;
	background-color:#fff;
}
#logo {
	height: 100px;
	width: 860px;
	margin-top: 3px;
	margin-left: 0px;
}
#ecpknLOGO {
	width: 300px;
	height: 80px;
	float: right;
}
#wholeLogo {
	height: 110px;
}
#navigation    {
	height: 38px;
	width: 1024px;
}
#NewfunctionAndGrandpicture {
	height: 220px;
	background-image: url(../images/ImageMiddle.jpg);
}
#Bandpicture    {
	width: 600px;
	height: 220px;
	float: right;
	margin-right: 85px;
}
#LoginDiv {
	float: left;
	height: 533px;
	width: 200px;
	background-color: #fff;
	font-size: 20px;
	font-style: normal;
	font-weight: bolder;
	font-variant: normal;
	color: #333;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #7396CC;
	border-right-color: #7396CC;
	border-bottom-color: #7396CC;
	border-left-color: #7396CC;
	margin-left: 90px;
}
#LoginDiv form table {
	width: 200px;
	height: 150px;
}
#LoginDiv table tr td {
	font-weight: normal;
	padding-left: 3px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
}
#LoginDiv form table tr td div {
	height: 30px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
}
#LoginDiv form table tr td #accountDiv   {
	margin-right: -15px;
}
#LoginDiv form table tr td div #accountText {
	height: 25px;
	margin-bottom: -2px;
	border: 1px solid #B8D4E8;
	width: 130px;
}
#LoginDiv form table tr td div #password {
	height: 25px;
	margin-bottom: -2px;
	border: 1px solid #B8D4E8;
	width: 130px;
}
#LoginDiv form table tr td div #login {
	width: 50px;
	height: 30px;
	font-size: 16px;
	font-family: Tahoma, Geneva, sans-serif;
}
#LoginDiv table tr td #form1 #accounts {
	height: 20px;
	border: 1px solid #B8D4E8;
}
#LoginDiv table tr td #form1 #password {
	height: 20px; 
	border: 1px solid #B8D4E8;
}
#LoginDiv p label #loginIcon {
	font-family: Tahoma, Geneva, sans-serif;
	margin-left: 50px;
	margin-top: -4px;
}
#LoginDiv #horizon {
	margin-left: 15px;
	margin-right: 15px;
}
#LoginDiv p label #RegisterIcon {
	font-family: Tahoma, Geneva, sans-serif;
}
#RefreshDiv {
	float: right;
	height: 430px;
	width: 650px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #B8D4E8;
	margin-right: 80px;
}
#RefreshDiv #slideshowHolder {
	width: 350px;
	float: left;
	height: 240px;
}
#RefreshDiv #select {
	width: 250px;
	height: 240px;
	margin-left: 350px;
}
#RefreshDiv #select #try {
	height: 60px;
}
#RefreshDiv #select #share {
	height: 60px;
}
#RefreshDiv #select #presentation {
	height: 60px;
}
#RefreshDiv #select #How  {
	height: 60px;
}
#SharePage {
	height: 430px;
	width: 460px;
	background-color: #F0F5F8;
	border: 1px ridge #B8D4E8;
	float: left;
}
#SharePage #ShareContent {
	margin-top: -30px;
}
#RefreshDiv #SharePage #form1 table {
	font-family: Tahoma, Geneva, sans-serif;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#RefreshDiv #SharePage #form1 table tr td #FonctionName {
	height: 30px;
	width: 200px;
}
#RefreshDiv #SharePage #form1 table tr td #Code {
	height: 90px;
	width: 400px;
}
#RefreshDiv #SharePage #form1 table tr td #Help {
	height: 90px;
	width: 400px;
}
#RefreshDiv #SharePage #form1 table tr td #Exemple {
	height: 90px;
	width: 400px;
}
#Explication {
	width: 180px;
	float: right;
	height: 430px;
	background-color: #F0F5F8;
	border: 1px solid #B8D4E8;
}
#Welcome {
	height: 30px;
	width: 150px;
	font-size: 16px;
	font-style: italic;
	font-weight: bolder;
	color: #009;
	background-image: url(images/loginTop.jpg);
	background-repeat: no-repeat;
	padding-top: 10px;
}
#aboutUs table    {
	font-size: 11px;
	font-family: Verdana, Geneva, sans-serif;
}
#aboutUs   {
	height: 80px;
	float: left;
}
#ecpknlogo {
	float: right;
	height: 100px;
	width: 450px;
	margin-top: -100px;
}

.container, .container *{margin:0; padding:0;}
 
.container{width:600px; height:220px; overflow:hidden;}
 
.slider{
	position:absolute;
	left: 238px;
	top: -24px;
}
.slider li{ list-style:none;display:inline;}
.slider img{ width:600px; height:220px; display:block;}
 
.num{ position:absolute; right:5px; bottom:5px;font-size: 1px;}
.num li{
	float: left;
	text-align: center;
	line-height: 1px;
	width: 1px;
	height: 1px;
	font-family: Arial;
	font-size: 1px;
	overflow: hidden;
	margin: 3px 1px;

	
}
#EcpknLogo {
	float: right;
	height: 100px;
	width: 210px;
	margin-right: 80px;
}
